body,
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background: #58bcd4;
  background: linear-gradient(0deg, #071a60 0%, #58bcd4 49%, #90f0f9 96%);
}

#body2 {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background: repeating-linear-gradient(0deg, #90f0f900 0px, #90f0f900 4px, #90f0f9 4px, #071a60 6px);
}

#can {
  border: 6px solid #eee;
  height: 70vmin;
  width: 70vmin;
  background: #888a;
  backdrop-filter: blur(1px);
  border-radius: 20px;
}

#can:active {
  cursor: none;
}

.toolbar {
  user-select: none;
  border: 6px solid #eee;
  background: #a3c9d2;
  background: linear-gradient(0deg, #5c8198cc 0, #c4e2e4cc 96%);
  backdrop-filter: blur(1px);
  margin: 10px;
  border-radius: 20px;
}

.toolbar#brushes {
  min-width: 70vmin;
  min-height: 10vmin;
}

.toolbar-item {
  margin: 4px;
  width: 10vmin;
  height: 10vmin;
  border: 2px solid #666;
  transition: all 0.1s;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

.toolbar-item.selected {
  border: 2px solid #00f7ff;
  box-shadow: 0px 0px 4px #00abee;
}

.toolbar-item>img {
  width: 50%;
  height: auto;
}

#cursor {
  pointer-events: none;
  user-select: none;
  user-zoom: none;
  background: none;
  border: 2px dashed white;
  position: absolute;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.hint {
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  backdrop-filter:blur(2px);
  padding:4px;
  border-radius:16px;
  user-select:none;
  display:flex;
  justify-content:center;
  align-items:center;
}