body,
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background: #58bcd4;
  background: linear-gradient(0deg, #071a60 0%, #58bcd4 49%, #90f0f9 96%);
}

#body2 {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background: repeating-linear-gradient(0deg, #90f0f900 0px, #90f0f900 4px, #90f0f9 4px, #071a60 6px);
  transition: all 0.2s;
}

#body2.dragover {
  background: repeating-linear-gradient(0deg, #90f0f900 0px, #90f0f900 2px, #90f99e 2px, #07603b 6px);
}

#can {
  border: 0.75vmin solid #eee;
  height: 65vmin;
  width: 65vmin;
  background: #888a;
  /* backdrop-filter: blur(1px); */
  border-radius: 3vmin;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#can:active {
  cursor: none;
}

.toolbar {
  user-select: none;
  border: 0.75vmin solid #eee;
  background: #a3c9d2;
  background: linear-gradient(0deg, #5c8198cc 0, #c4e2e4cc 96%);
  /* backdrop-filter: blur(1px); */
  margin: 1vmin;
  border-radius: 3vmin;
}

.toolbar#brushes {
  min-width: 70vmin;
  min-height: 10vmin;
  /* flex-wrap: wrap; */
}

.toolbar-item {
  margin: 0.5vmin;
  width: 8vmin;
  height: 8vmin;
  border: 0.5vmin solid #666;
  transition: all 0.2s, width 0.5s, height 0.5s;
  border-radius: 2vmin;

  display: flex;
  justify-content: center;
  align-items: center;
  /* backdrop-filter: blur(4px); */
}

.toolbar-item:hover {
  width: 9vmin;
  height: 9vmin;
  transition: all 0.2s, width 0.1s, height 0.1s;
}

.toolbar-item.selected {
  width: 10vmin;
  height: 10vmin;
  border: 0.5vmin solid #00f7ff;
  box-shadow: 0px 0px 1vmin #00abee;
}

.toolbar-item>img {
  width: 50%;
  height: auto;
}

#cursor {
  pointer-events: none;
  user-select: none;
  user-zoom: none;
  background: none;
  border: 2px dashed white;
  position: absolute;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  transform-origin: center center;
}

.hint {
  color:white;
  background-color: #1da57ccc;
  /* border: 1px solid #ccc; */
  box-shadow: 0 0 4px black;
  font-family:Arial, Helvetica, sans-serif;
  /* backdrop-filter:blur(2px); */
  padding:0.5vmin;
  margin: 0.25vmin;
  border-radius:2vmin;
  user-select:none;
  display:flex;
  justify-content:center;
  align-items:center;
  transition: all 0.5s;
  font-size: medium;
}
 
.hint:hover {
  transition: all 0.1s;
  font-size: large;
  background-color: #20afb4cc;
}

span.keyhint {
  color: #001969;
  font-size: large;
  font-family: monospace;
}